// .eslintrc
// push 자동화에 적용
{
  "plugins": ["import"],
  "extends": ["airbnb-base", "react-app", "prettier"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-multiple-empty-lines": "error", // 여러 줄 공백 금지
    "dot-notation": "error", // 가능하다면 dot notation 사용
    "no-unused-vars": "warn" // 사용하지 않는 변수 금지
  }
}
