@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "GothicA1-Regular";
  src: url("../src/assets/font/GothicA1-Regular.ttf");
}
body {
  margin: 0;
  font-family: GothicA1-Regular, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
